.searchbarContainer{
     display: flex;
     align-items: end;
     max-width: 250px;
}

.searchbarContainer input {
     background: transparent;
     color: white;
     outline: none;
     border-bottom: 1px solid rgba(255, 255, 255, 0.18);
     font-size: 20px;
     transition: 0.2s;
     -webkit-transition: 0.2s;
     -moz-transition: 0.2s;
     -ms-transition: 0.2s;
     -o-transition: 0.2s;
     padding: 0px 5px;
}

.searchbarContainer input:focus {
     border-bottom: 1px solid rgba(255, 255, 255, 0.724);
}

.searchbarContainer button {
     /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
     backdrop-filter: blur(10 px); */
     padding: 5px ;
     min-width: 40px;
     /* border-radius: 7px;
     border: 1px solid rgba(255, 255, 255, 0.18);
     font-size: 14px; */
}

.search img{
     width: 24px;
}